In [1]:
pip install pandas

Requirement already satisfied: pandas in /home/ismail/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/ismail/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ismail/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /home/ismail/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /home/ismail/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.4.2'

In [7]:
df = pd.read_csv('green_tripdata_2019-01.csv' , nrows=100)

In [8]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-01-01 00:15:42,2019-01-01 00:41:04,N,1,97,179,1,7.83,26.0,0.5,0.5,5.46,0.0,NaN,0.3,32.76,1,1,NaN
96,2,2019-01-01 00:21:28,2019-01-01 00:48:15,N,1,7,230,1,4.49,20.0,0.5,0.5,4.00,0.0,NaN,0.3,25.30,1,1,NaN
97,2,2019-01-01 00:17:10,2019-01-01 00:23:34,N,1,42,42,1,1.08,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,NaN
98,2,2019-01-01 00:25:01,2019-01-01 00:43:55,N,1,42,232,2,8.74,25.0,0.5,0.5,0.00,0.0,NaN,0.3,26.30,2,1,NaN
99,2,2019-01-01 00:36:56,2019-01-01 00:43:50,N,1,223,7,5,1.32,7.0,0.5,0.5,2.00,0.0,NaN,0.3,10.30,1,1,NaN

In [12]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

In [13]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [18]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv' , iterator=True, chunksize=100000)

In [19]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [20]:
df = next(df_iter)

In [21]:
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

In [ ]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

In [22]:
from time import time

In [24]:
while True:
    t_start = time()
    
    df = next(df_iter)

    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('Another chunck inserted ... it took %.3f second' %(t_end - t_start))

Another chunck inserted ... it took 13.160 second
Another chunck inserted ... it took 12.343 second
Another chunck inserted ... it took 12.672 second
Another chunck inserted ... it took 12.866 second
Another chunck inserted ... it took 17.958 second
Another chunck inserted ... it took 18.989 second
Another chunck inserted ... it took 15.725 second
Another chunck inserted ... it took 14.018 second
Another chunck inserted ... it took 16.810 second
Another chunck inserted ... it took 14.475 second

/tmp/ipykernel_6766/1333962930.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Another chunck inserted ... it took 16.273 second
Another chunck inserted ... it took 10.271 second

StopIteration: